@import "../../styles/variables.scss";

.container {
  width: 100%;
  min-height: 400px;
  height: 680px;
  display: flex;
  flex-direction: row;
}
.leftContainer {
  width: 65%;
  height: 100%;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rightContainer {
  width: 35%;
  height: 100%;
  background-color: $green;
  position: relative;
  display: flex;
  align-items: center;
}

.mainContainer {
  padding: 1rem;
  display: flex;
  max-width: 700px;
  width: 100%;
  flex-direction: column;
}
.title {
  color: $green;
  letter-spacing: 1.5px;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: $white;
  }
}
.catchSentence {
  color: $white;
  width: 100%;
  max-width: 550px;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.avatarContainer {
  position: absolute;
  left: -5rem;
  z-index: 10;
}
.avatar {
  object-fit: contain;
  border-radius: 2px;
}

.avatarCadre {
  width: 100%;
  height: 300px;
  max-width: 550px;
  border: 1px solid $white;
  position: absolute;
  top: 20px;
  z-index: -1;
  left: 20px;
}
.mainSkills {
  // border: 1px solid red;
  // padding: 1rem;
  // width: 100%;
  // max-width: 800px;
  // display: flex;
}
@media screen and (max-width: $largeScreen) {
  .avatarContainer {
    position: relative;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatarCadre {
    width: 300px;
    height: 300px;
    border: 1px solid $white;
    position: absolute;
    top: 20px;
    z-index: -1;
    left: 80px;
  }
  .leftContainer,
  .rightContainer {
    width: 50%;
  }
  .rightContainer {
  }
}
@media screen and (max-width: $mediumScreen) {
  .container {
    flex-direction: column;
    height: 100vh;
  }
  .leftContainer,
  .rightContainer {
    width: 100%;
    height: 50vh !important;
  }
  .mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .avatarCadre {
    width: 300px;
    height: 300px;
    border: 1px solid $white;
    position: absolute;
    top: 20px;
    z-index: -1;

    left: 30%;
  }
  .title,
  .catchSentence {
    text-align: center;
  }
}

@media screen and (max-width: $smallScreen) {
  .avatarCadre {
    width: 300px;
    height: 300px;
    border: 1px solid $white;
    position: absolute;
    top: 20px;
    z-index: -1;
    left: 15vw;
  }
}
