$white: #fff;
$black: #000;

$blue: #4731d3;
$green: #cbf281;
$grey: #f9f9f9;
$blueText: #4831d4;
$paragraphWhiteColor: #3d155f;

// Breakpoints

$largeScreen: 1050px;
$mediumScreen: 850px;
$smallScreen: 560px;
